h1,h2,h3,h4{
    font-family: 'Roboto';
    font-weight: 100;
}
.blue{
    background-color:#eaf6fd !important;  
}
p, h5{
    font-family: 'Roboto';
    font-weight: 300;
}
.btn{
    font-family: 'Roboto';
    font-weight: 300; 
}
.hero-box{
    transition: all .2s ease-in-out; 
    height: 150px;
}
.hero-box:hover{
    transform: scale(1.1); 
    background-color:#caf6f9 !important;
}

.hero2{
    background-image: url('../imgs/learn-to-analyze-ad-metrics.png');
    background-size:contain;
    background-position-x: right;
    background-repeat: no-repeat;
    min-height: 60vh;
    background-origin: content-box;
    }





    @media only screen and (max-width: 768px) {
        .hero2 {
            background-image: url(none)!important;
        }
      }